:root {
    --text-color: #373737;
    --beige: #FAF3DD;
    --light-green: #C8D5B9;
    --light-blue: #8FC0A9;
    --blue: #68B0AB;
    --dark-green: #584a7c;
    --mask: radial-gradient(98.62px at 50% 132.75px, #000 99%, #0000 101%) calc(50% - 90px) 0/180px 51% repeat-x, radial-gradient(98.62px at 50% -87.75px, #0000 99%, #000 101%) 50% 45px/180px calc(51% - 45px) repeat-x, radial-gradient(98.62px at 50% calc(100% - 132.75px), #000 99%, #0000 101%) calc(50% - 90px) 100%/180px 51% repeat-x, radial-gradient(98.62px at 50% calc(100% + 87.75px), #0000 99%, #000 101%) 50% calc(100% - 45px)/180px calc(51% - 45px) repeat-x;
}

h2 {
    font-size: 2em;
    padding-top: 5%;
    padding-left: 5%;
}

p {
    padding: 2% 3% 2% 3%;
}

header {
    background-image: url("../images/Plantes/plante-plafond.png");
    background-repeat: repeat-x;
    background-position: center top;
    background-size: contain;
    min-height: 30vh;
    display: flex;
}

header>h1 {
    margin: auto;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    text-align: center;
    padding: 7px;
}


/*Partie Gallerie des plantes*/

.galleriePlantes {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 5vh;
    padding-top: 2vh;
    overflow: auto;
}

.cartePlante {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    padding: 10px;
    transition-duration: 1.5s;
}

.cartePlante:hover {
    transform: scale(1.1);
    transition-duration: 0.4s;
}

.cartePlante>.pictoPlante {
    position: absolute;
    top: 23%;
}

.statu {
    left: 5%;
}

.ajout {
    right: 5%;
}

.cartePlante>.illuPlante {
    margin-bottom: 50px;
    max-width: 90%;
    margin: auto;
}

.cartePlante>div {
    padding-top: 300%;
    padding: 10px;
}

.cartePlante>.fondCarte {
    position: absolute;
    top: 20%;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
    z-index: -1;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
}

#mesPlantes .fondCarte {
    background-color: var(--light-blue);
}


/*Partie Responsive page plantes*/

@media only screen and (max-width: 768px) {
    .galleriePlantes {
        justify-content: initial;
        padding: 3vh;
    }
    .cartePlante {
        min-width: 35vw;
    }
}