:root {
    --text-color: #373737;
    --beige: #FAF3DD;
    --light-green: #C8D5B9;
    --light-blue: #8FC0A9;
    --blue: #68B0AB;
    --dark-green: #584a7c;
    --mask: radial-gradient(98.62px at 50% 132.75px, #000 99%, #0000 101%) calc(50% - 90px) 0/180px 51% repeat-x, radial-gradient(98.62px at 50% -87.75px, #0000 99%, #000 101%) 50% 45px/180px calc(51% - 45px) repeat-x, radial-gradient(98.62px at 50% calc(100% - 132.75px), #000 99%, #0000 101%) calc(50% - 90px) 100%/180px 51% repeat-x, radial-gradient(98.62px at 50% calc(100% + 87.75px), #0000 99%, #000 101%) 50% calc(100% - 45px)/180px calc(51% - 45px) repeat-x;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fffefb;
    /* background-color: #584a7c; */
    color: var(--text-color);
    width: 100vw;
    overflow-x: hidden;
}

main {
    min-height: 100vh;
}

p,
h2,
a {
    font-family: 'Jost', sans-serif;
}

h1,
h3,
h4 {
    font-family: 'Abril Fatface', cursive;
}

h2 {
    color: var(--dark-green);
}

h3 {
    font-size: 2.7em;
    margin-bottom: 30px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    padding: 15px;
    background-color: #fffefb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.logo {
    margin-left: 20px;
}

.open-close {
    display: none;
    z-index: 2;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 550px;
    padding-right: 15px;
}

nav li a {
    color: var(--text-color);
    text-decoration: none;
}

nav li {
    transition-duration: 1s;
    list-style: none;
}

nav li:hover {
    font-weight: bolder;
    transform: scale(1.2);
    transition-duration: .4s;
}

.btn {
    border: 0;
    background: var(--light-green);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-family: 'Jost', sans-serif;
}

.btn.btn-secondary {
    background: transparent;
    border: 2px solid var(--light-green);
}


/*Footer*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 60px 20px 60px;
    background-color: var(--dark-green);
    color: white;
}

footer>* {
    font-size: 1.1em;
    background-color: var(--dark-green);
}

footer>nav {
    z-index: 1;
    position: unset;
    height: auto;
}

footer>nav>ul>li {
    margin-right: 20px;
}

footer>nav>ul>li>a {
    color: white;
}


/* @media only screen and (max-width: 600px) {

} */

@media only screen and (max-width: 768px) {
    /*Menu*/
    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #ffffffea;
        flex-direction: column;
        justify-content: space-around;
        transform: translateX(-100%);
        transition: transform 1s;
        font-size: 1.7em;
    }
    .menu .btn {
        font-size: 1em;
    }
    .menu-open {
        transform: translateX(0) !important;
    }
    .open-close {
        display: unset;
        position: absolute;
        right: 15px;
        height: 70%;
    }
    .logo {
        width: 50%;
    }
    .hide {
        display: none;
    }
    footer {
        padding: 30px;
    }
}